body {background-image:url("../img/bg.png"); margin-top:20px; margin-bottom:20px;}
#header {width: 1250px; height: 50px; background-image:url("../img/header.png");background-repeat:no-repeat;margin-bottom:20px;}
#wrapper {width:1250px; margin:0 auto;}
#list {background-color:#e6e6e6; border: 1px brown dashed; padding:25px;border-radius:25px;}
.chart {background-color:#e6e6e6; border: 1px brown dashed; padding:25px;border-radius:0 0 25px 25px;}
.III {color:green;font-weight:bold;}
.II {color:blue;font-weight:bold;}
.I {color:red; font-weight:bold;}