html {
    height: 100% !important;
}

body {
    height: 100% !important;
    background-image: url('../imgs/bg.jpg') !important;
}

.np-title {
    font-family: 'Lobster', sans-serif;
    font-size: 26px !important;
}

.ava {
    width: 100px !important;
    height: 100px !important;
    max-width: 100px !important;
}

.place1 {color:#FFF;background-color:#F44336;}
.place2 {color:#FFF;background-color:#2196F3;}
.place3 {color:#FFF;background-color:#4CAF50;}

nav { margin-top:-12px;}
nav ul { padding-top:12px; padding-bottom: 12px; list-style: none; margin: 0; }
nav li { display: inline; }
nav a { text-decoration: none; color: white; font-family: 'Lobster', sans-serif; font-size: 26px; padding: 16px 20px 16px; }
nav li a:hover { background-color: #1E88E5; }
.active { box-shadow: inset 0 0 10px rgba(50,50,50,0.5); }
.chart {background-color:#FFF; padding:25px;}
